ModernVicePdbMonitor_1_0_0_alpha_3/Antlr4.Runtime.Standard.dll
ModernVicePdbMonitor_1_0_0_alpha_3/appsettings.json
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Base.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Controls.DataGrid.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Controls.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Controls.ItemsRepeater.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Controls.TreeDataGrid.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.DesignerSupport.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Desktop.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Dialogs.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.FreeDesktop.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Markup.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Markup.Xaml.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Metal.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.MicroCom.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Native.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.OpenGL.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Remote.Protocol.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Skia.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Svg.Skia.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Themes.Fluent.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Win32.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.X11.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.Custom.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.DragAndDrop.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.Draggable.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.Events.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.Reactive.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactions.Responsive.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Avalonia.Xaml.Interactivity.dll
ModernVicePdbMonitor_1_0_0_alpha_3/AvaloniaEdit.dll
ModernVicePdbMonitor_1_0_0_alpha_3/AvaloniaEdit.TextMate.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Compiler.Oscar64.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Compiler.Oscar64.pdb
ModernVicePdbMonitor_1_0_0_alpha_3/ExCSS.dll
ModernVicePdbMonitor_1_0_0_alpha_3/FuzzySharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/HarfBuzzSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/JsonSubTypes.dll
ModernVicePdbMonitor_1_0_0_alpha_3/MicroCom.Runtime.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.Abstractions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.Binder.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.CommandLine.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.FileExtensions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.Json.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Configuration.UserSecrets.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.DependencyInjection.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Diagnostics.Abstractions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Diagnostics.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.FileProviders.Abstractions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.FileProviders.Physical.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.FileSystemGlobbing.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Hosting.Abstractions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Hosting.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.Abstractions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.Configuration.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.Console.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.Debug.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.EventLog.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Logging.EventSource.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Options.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Extensions.Primitives.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Microsoft.Win32.SystemEvents.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.Compilers.Acme.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.Compilers.Acme.pdb
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.Core.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.Core.pdb
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.deps.json
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.Engine.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.Engine.pdb
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.exe
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.pdb
ModernVicePdbMonitor_1_0_0_alpha_3/Modern.Vice.PdbMonitor.runtimeconfig.json
ModernVicePdbMonitor_1_0_0_alpha_3/Newtonsoft.Json.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.AsyncEx.Context.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.AsyncEx.Coordination.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.AsyncEx.Interop.WaitHandles.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.AsyncEx.Oop.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.AsyncEx.Tasks.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.Cancellation.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.Collections.Deque.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Nito.Disposables.dll
ModernVicePdbMonitor_1_0_0_alpha_3/nlog.config
ModernVicePdbMonitor_1_0_0_alpha_3/NLog.dll
ModernVicePdbMonitor_1_0_0_alpha_3/NLog.Extensions.Logging.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Righthand.MessageBus.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Righthand.ViceMonitor.Bridge.dll
ModernVicePdbMonitor_1_0_0_alpha_3/ShimSkiaSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/SkiaSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/SkiaSharp.HarfBuzz.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Svg.Custom.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Svg.Model.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Svg.Skia.dll
ModernVicePdbMonitor_1_0_0_alpha_3/System.Diagnostics.EventLog.dll
ModernVicePdbMonitor_1_0_0_alpha_3/System.Drawing.Common.dll
ModernVicePdbMonitor_1_0_0_alpha_3/System.IO.Pipelines.dll
ModernVicePdbMonitor_1_0_0_alpha_3/System.Reactive.dll
ModernVicePdbMonitor_1_0_0_alpha_3/TextMateSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/TextMateSharp.Grammars.dll
ModernVicePdbMonitor_1_0_0_alpha_3/Tmds.DBus.Protocol.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux/native/libonigwrap.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-arm/native/libHarfBuzzSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-arm/native/libSkiaSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-arm64/native/libHarfBuzzSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-arm64/native/libSkiaSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-musl-x64/native/libSkiaSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-x64/native/libHarfBuzzSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/linux-x64/native/libSkiaSharp.so
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/osx/native/libAvaloniaNative.dylib
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/osx/native/libHarfBuzzSharp.dylib
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/osx/native/libonigwrap.dylib
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/osx/native/libSkiaSharp.dylib
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win/lib/net6.0/System.Drawing.Common.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-arm64/native/av_libglesv2.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-arm64/native/libHarfBuzzSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-arm64/native/libSkiaSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x64/native/av_libglesv2.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x64/native/libHarfBuzzSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x64/native/libSkiaSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x64/native/onigwrap-x64.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x86/native/av_libglesv2.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x86/native/libHarfBuzzSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x86/native/libSkiaSharp.dll
ModernVicePdbMonitor_1_0_0_alpha_3/runtimes/win-x86/native/onigwrap-x86.dll
